*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#card{
    border: 1px solid black;
    width: 400px;
    margin: 50px;
    height: 550px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 150px;
    margin-top: 40px;
    border:white;

}
#title{
    margin-left: 20px;
    margin-top: 20px;
}
#ndtitle{
    margin-top: 30px;
    margin-left: 20px;
    color: blueviolet;
}
p{
    margin-top: 30px;
    margin-left: 20px;
    color: gray;
}
#button{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 30px;
    padding: 10px;
    background-color: blueviolet;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: white;
}
.card__content{
    position: absolute;
    width: 400px;
height: 200px;
border-top: 200px;
background-color: blueviolet;
border-top-left-radius:10px ;
border-top-right-radius: 10px;
}
