*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    list-style: none;
   text-decoration: none;
   
}
.link{
    color: rgb(161, 157, 157);
}
#title{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
   
    

}
p:first-child{
    margin-left: 500px;
}
.text{
    margin-left: 150px;
}
a:hover{
    color:rgb(233, 43, 43);
}
#ndtitle{
    display: flex;
    gap: 25px;
    margin-top: 20px;
    font-size: 17px;
   
    background-color: rgb(184, 41, 41);
    padding: 15px;

}
.ndlink{
    color: white;
}
.button{
    
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgb(110, 179, 6);
    color: white;
    border: none;
    margin-left: 300px;
}
#card{
    width: 300px;
    height: 300px;
    border: 1px solid;
   margin-top: 40px;
    margin-left: 150px;
    border-radius: 10px;
}
.BMW{
    width: 300px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    position: relative;
}
.weather{
    color: rgb(133, 127, 127);
    margin-top: 5px;

}
#text{
   
}
