*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 25px;
    height: 25px;
    margin-left:350px ;
    margin-top: 10px;
}
.text{
    display: flex;
    gap: 20px;
}
a{
    list-style: none;
    color: rgb(95, 93, 93);
    text-decoration: none;
}